<%- include("partials/header") %>
<div class="box">
    <div>
        <div class="d-flex justify-content-around bg-warning opaque">
            <div class="d-flex align-items-center">
                <h1 class="text-dark"><%= weatherObject.city %></h2>
                    <span><%= weatherObject.country %></span>
            </div>
            <img src="<%= weatherObject.iconUrl %>" alt="weather icon">
        </div>

        <div class="d-flex flex-wrap justify-content-around align-items-center">
            <div class="text-center">
                <h1 class="text-dark"><%= weatherObject.temp %> &deg; C</h1>
                <span><%= weatherObject.weatherMain %> : <%= weatherObject.weatherDescription %></span>
            </div>
            <table>
                <tr>
                    <td colspan="2" class="border border-top-0 border-left-0 border-right-0 border-info">Details
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td><%= weatherObject.weatherMain %></td>
                </tr>
                <tr>
                    <td>Wind</td>
                    <td><%= weatherObject.wind %> m/s</td>
                </tr>
                <tr>
                    <td>Humidity</td>
                    <td><%= weatherObject.humidity %> &percnt;</td>
                </tr>
                <tr>
                    <td>Pressure</td>
                    <td><%= weatherObject.pressure %> hPa</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="box" style="margin-bottom: 11.55rem;">
    <form>
        <input class="btn btn-dark btn-block" type="button" value="Go back!" onclick="history.back()">
    </form>
</div>


<%- include("partials/footer") %>